@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 380px;
}

body {
  color: #383F41;
  line-height: 1;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  position: relative;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  margin-top: 30px;
  text-align: left;
  padding: 0rem 2rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 45px;
  top: 2px;
  height: 1.5px;
  width: 7px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  content: url("../img/button_plus.svg");
}

._spoller-init .spollers__title._spoller-active::before {
  content: url("../img/button_minus.svg");
}

.spollers__body {
  padding: 0 32px;
}

.spollers__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 8px;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section {
  padding: 40px 0;
}

.title {
  margin: 40px 0;
  font-size: 36px;
}

.icon-menu {
  display: none;
}

.mobile {
  position: absolute;
  height: 100%;
  background-color: #383F41;
  left: 100%;
  top: 0;
  right: 0;
  border: 0;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.menu__active {
  left: 0;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.header__settings {
  max-width: 20px;
}

.header__top {
  background-color: #F2F2F2;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  font-size: 12px;
  font-weight: 300;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:nth-child(2n) {
  gap: 8px;
}

.header__item:nth-child(3n) {
  gap: 6px;
}

.header__item:nth-child(4n) {
  gap: 12px;
  padding: 11px 13px;
  background-color: #fff;
}

.header__lang {
  padding: 4px 8px;
  font-size: 12px;
}

.header__lang-active {
  border: 1px solid #383F41;
  border-radius: 6px;
}

.header__profile-name {
  font-size: 12px;
  font-weight: 300;
}

.header__profile-link {
  font-weight: 400;
  text-decoration: underline;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.header__set {
  display: none;
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 18.96px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-left: 42px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-inp {
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 18px 16px 48px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
}

.header__search-inp::-webkit-input-placeholder {
  color: #CFCFCF;
}

.header__search-inp::-moz-placeholder {
  color: #CFCFCF;
}

.header__search-inp:-ms-input-placeholder {
  color: #CFCFCF;
}

.header__search-inp::-ms-input-placeholder {
  color: #CFCFCF;
}

.header__search-inp::placeholder {
  color: #CFCFCF;
}

.header__search-btn {
  padding: 16px 18px;
  border: 1px solid #383F41;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  font-size: 14px;
}

.header__search-btn:hover {
  background: rgba(142, 198, 63, 0.2823529412);
}

.header__cart-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 6px;
}

.header__cart-title {
  font-size: 12px;
  font-weight: 300;
}

.header__cart-quantity {
  position: absolute;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #8DC63F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -2px;
  top: -8px;
}

.header__menu {
  background-color: #383F41;
}

.header__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
  line-height: 16.59px;
  display: block;
}

.header__menu-item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8%;
          flex: 0 0 8%;
  position: relative;
}

.header__menu-item:last-child::after {
  display: none;
}

.header__menu-item::after {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  display: block;
  background-color: #4F5A5E;
  right: -15px;
  top: 0;
  bottom: 0;
}

.none {
  visibility: hidden;
}

.settings {
  position: absolute;
  height: 100%;
  background-color: #fff;
  left: 100%;
  top: 0;
  right: 0;
  border: 0;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.settings__active {
  left: 0;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.settings__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.footer {
  background-color: #383F41;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.footer__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #A2A9AC;
  margin-bottom: 10px;
}

.footer__item-flex:last-child {
  margin-top: 40px;
}

.footer__adress {
  color: #A2A9AC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__adress-text {
  font-size: 14px;
  font-weight: 300;
  max-width: 162px;
  line-height: 20px;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #A2A9AC;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__menu-item {
  color: #A2A9AC;
  font-size: 14px;
  font-weight: 300;
}

.footer__menu-active {
  color: #8DC63F;
  text-decoration: underline;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 200px;
  gap: 12px;
}

.footer__logo {
  margin-top: 60px;
}

.footer__copy {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}

.product__worker {
  display: none;
}

.product__worker-col {
  font-size: 14px;
  font-weight: 300;
}

.product__worker + .product__worker-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  gap: 15px;
}

.product__worker + .product__worker-label div {
  border: 1.5px solid #383F41;
  width: 18px;
  height: 18px;
}

.product__worker:checked + .product__worker-label div {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
  background-size: 85% 85%;
  padding: 5px;
}

.products__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  display: none;
  margin-bottom: 20px;
  color: #8DC63F;
}

.products__mobile-img {
  max-width: 15px;
}

.products__breadcrumbs {
  color: #A2A9AC;
  font-size: 14px;
}

.products__breadcrumbs-item {
  text-decoration: underline;
}

.products__breadcrumbs-item:last-child {
  text-decoration: none;
}

.products__desc {
  font-size: 14px;
  font-weight: 300;
  color: #A2A9AC;
  line-height: 20px;
  margin-bottom: 40px;
}

.products__desc a {
  color: #8DC63F;
  font-weight: 400;
  text-decoration: underline;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 27px;
}

.products__filter {
  max-width: 300px;
  width: 100%;
  background: #F2F2F2;
  border-radius: 8px;
  padding-bottom: 32px;
}

.products__filter-title {
  font-size: 26px;
  padding: 37px 32px 0 32px;
}

.products__price-min {
  max-width: 114px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  outline: none;
}

.products__price-btn {
  width: 100%;
  padding: 16px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #383F41;
  border-radius: 8px;
  display: block;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 27px;
}

.products__item {
  padding: 30px 32px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
}

.products__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.products__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #383F41;
  color: #fff;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.products__item-btn:hover {
  background-color: #8DC63F;
}

.products__item-title {
  max-width: 230px;
  text-align: left;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  line-height: 22px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.products__item-title:hover {
  color: #8DC63F;
}

.products__item-price {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #A2A9AC;
  line-height: 36px;
}

.products__item-bold {
  font-size: 26px;
  color: #383F41;
  font-weight: 500;
}

.products__item-currency {
  font-size: 16px;
  font-weight: 600;
  color: #383F41;
}

.products__item-termin {
  font-size: 14px;
  color: #A2A9AC;
  font-weight: 300;
  text-align: left;
  margin-top: 0.25rem;
  margin-bottom: 20px;
}

.products__item-termin span {
  color: #383F41;
  font-weight: 400;
}

.products__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 950px;
  margin: 0 0 0 auto;
  margin-top: 50px;
}

.products__nav-active {
  text-decoration: underline;
  color: #8DC63F;
}

.con {
  margin: 20px 0;
}

.showmore .spollers__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block__more span {
  color: #8DC63F;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 20px;
}

.no-webp .support{
  background-image: url("../img/bg__support.png"); }

.support {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.support__title {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  line-height: 42.66px;
}

.support__desc {
  font-size: 26px;
  color: #fff;
  line-height: 30.81px;
  margin-top: 12px;
}

.support__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support__btn {
  padding: 21px 50px;
  background-color: #8DC63F;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
}

.text__title {
  font-size: 36px;
  margin-bottom: 40px;
}

.text__title-ul {
  padding-left: 15px;
}

.text__title-small {
  margin: 30px 0;
  font-size: 26px;
}

.text__title-li {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  list-style-type: disc;
  margin-bottom: 12px;
}

.text__content ol li {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 12px;
}

.text__content ol {
  padding-left: 15px;
}

.text__desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-top: 20px;
}

@media (max-width: 1170px) {
  .header__item:nth-child(2n) {
    display: none;
  }

  .header__item:nth-child(4n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 992px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    color: #fff;
    background-color: #fff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__set {
    display: block;
    cursor: pointer;
    border: 1px solid #383F41;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    z-index: 2;
  }

  .header__main {
    border-bottom: 1.5px solid #d8d8d8;
  }

  .header__contact {
    margin-left: 0;
  }

  .header__search {
    display: none;
  }

  .header__cart-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .header__menu-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }

  .header__menu-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .products__mobile {
    display: block;
  }

  .products__filter {
    max-width: 100%;
  }

  .products__item-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 992px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 867px) {
  .header__top-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .header__top {
    display: none;
  }

  .products__breadcrumbs {
    font-size: 12px;
  }

  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .products__nav-link:last-child,
  .products__nav-link:first-child {
    display: none;
  }

  .support__title {
    font-size: 28px;
    line-height: 35px;
  }

  .support__desc {
    font-size: 18px;
  }

  .support__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .support__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 21px;
  }
}

.webp .support{ background-image: url(../img/bg__support.webp); }